.container {
  height: 100vh;
}

#components-form-login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

#components-form-login .login-form {
  max-width: 300px;
}
#components-form-login .login-form-forgot {
  float: right;
}
#components-form-login .login-form-button {
  width: 100%;
}


#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  min-height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#components-layout-demo-custom-trigger .logo h1 {
  text-align: center;
  color: #fff;
}

.site-layout .site-layout-background {
  background: #fff;
}
